body {
  margin: 0;
  margin-top:8.751rem;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* color: #94b3c5; */
  color: #cfcece;
  /* background-color: #e7f2f5; */
  /* background: linear-gradient(to right, #363636 330px, #1b1b1b 330px); */
  
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjus: 100%;  /* iphone font size 변경 방지 */
  /* overflow-x: hidden; */
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  height: 100vh;
  /* width: 100vw; */
  /* background-color: white; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.layout {
  display: flex;
  flex-direction: row;
  width: auto;
}