.sidebar-container {
  width: 330px;
  /* max-width: 330px; */
  
  min-height: 100vh;
  text-align: center;
  background-color: #363636;
}

.menu-content > a {
  text-decoration: none;
  color: #999999;
}